<!DOCTYPE html>
<html>
<head>
    <title>Cisco设备分析 - 用户列表</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="css/elements.css"/>
    <link rel="stylesheet" type="text/css" href="css/icons.css"/>

    <!-- libraries -->
    <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/user-list.css" type="text/css" media="screen"/>

    <!-- open sans font -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<!-- navbar -->
<div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="index.html"><img src="img/logo.png" /></a>

            <ul class="nav pull-right">
                <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        <span class="icon-user"></span>
                        <span class="userName">undefined</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="logout" href="#">注销</a></li>
                        <li><a href="personal-info.html">修改密码</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

<!-- end navbar -->

<!-- sidebar -->
 <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="index.html">
                    <i class="icon-home"></i>
                    <span>主页</span>
                </a>
            </li>
            <li>
                <a href="chart-showcase.html">
                    <i class="icon-signal"></i>
                    <span>图表</span>
                </a>
            </li>
            <li>
                <a href="tables.html">
                    <i class="icon-th-large"></i>
                    <span>表格详情</span>
                </a>
            </li>
            <li class="admin">
                <a href="user-list.html">
                    <i class="icon-group"></i>
                    <span>用户列表</span>
                </a>
            </li>
            <li class="admin">
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>规则配置</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="form-showcase.html">路由器</a></li>
                    <li><a href="form-showcase1.html">交换机</a></li>
                </ul>
            </li>
        </ul>
    </div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">

    <!-- settings changer -->

    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <h3>用户列表</h3>
            </div>

            <!-- Users table -->
            <div class="row-fluid table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="span6 sortable">
                            用户名
                        </th>
                        <th class="span3 sortable">
                            <span class="line"></span>用户身份
                        </th>
                        <th class="span3 sortable">
                            <span class="line"></span>删除
                        </th>
                    </tr>
                    </thead>
                    <tbody class="user_list">
                    <!-- row -->

                    </tbody>
                </table>
                <script id="tpl_user" type="text/html">
                    {{each result as value i}}
                    <tr class="{{if i==0}}first{{/if}}" data-id="{{value.num}}">
                        <td>
                            <img src="img/contact-img.jpg" class="img-circle avatar hidden-phone"/>
                            <a href="#" class="name">{{value.name}}</a>
                            <span class="subtext">#{{i+1}}</span>
                        </td>
                        <td>
                            {{if value.id==1}}管理员{{else}}一般用户{{/if}}
                        </td>
                        <td>
                            <a class="btn-flat danger" id="delete">删除</a>
                        </td>
                    </tr>
                    {{/each}}
                </script>
            </div>
            <!-- end users table -->
        </div>
    </div>
</div>
<!-- end main container -->
<div class="modal fade" id="del" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">是否确定删除该用户？</div>
            <div class="modal-footer">
                <button type="button" class="btn-flat white" id="cancel">取消</button>
                <button type="button" class="btn-flat danger" id="delIt">删除</button>
            </div>
        </div>
    </div>
</div>

<!-- scripts -->
<script src="js/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/theme.js"></script>
<script src="js/template.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/common.js"></script>
<script>
    $(function () {
        var deleId;
        $.ajax({
            type: "GET",
            url: window.url + ":8080/TomcatTest/json/JsonRole",
            dataType: "jsonp",
            timeout: 1000,
            success: function (data) {
                if (data.result.length) {
                    var render = template('tpl_user', data);
                    $('.user_list').html(render);
                } else {
                    alert('接口错误');
                }
            }
        });
        $('.user_list').delegate('#delete', 'click', function () {
            $('#del').modal('show');
            deleId = $(this).closest('tr').attr('data-id');
        });
        $('#delIt').on('click', function () {
            $.ajax({
                type: "GET",
                url: window.url + ":8080/TomcatTest/delete/Delete",
                dataType: "jsonp",
                data: {
                    num: deleId
                },
                success: function (data) {
                    if (data.result[0].status == 1) {
                        alert('删除成功');
                    } else {
                        alert('删除失败');
                    }
                    $('#del').modal('hide');
                }
            });
        });
        $('#cancel').on('click', function () {
            $('#del').modal('hide');
        });
    });
</script>
</body>
</html>